.AddAnnu-container {
    margin: 45px auto;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    height: 500px;
    display: flex;
   
  }
  
  
  .AddAnnu-content-left {
    background: linear-gradient(
      90deg,
      rgb(39, 176, 255) 0%,
      rgb(0, 232, 236) 100%
    );
    border-radius: 10px 0 0 10px;
    position: relative;
  }
  
  
  
  .AddAnnu-content-right {
    border-radius: 10px 10px 10px 10px;
    position: relative;
    background: linear-gradient(90deg, rgb(131, 102, 102) 0%, rgb(82, 54, 54) 100%);
  }
  
  .AddAnnu-form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .AddAnnu-form h1 {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
  }
  
  .AddAnnu-form-inputs {
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
    margin-right: 1rem;
    width: 80%;
    
  }
  
  .AddAnnu-form-input-login p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #f00e0e;
  }
  .AddAnnu-form-item {
    display: flex;
    margin:auto;
   }
  
  .AddAnnu-form-label {
    display: inline-block;
    font-size: 1.8rem;
    margin-bottom: 6px;
    color: #fff;
  }
  .AddAnnu-form-label-h {
    display: inline-block;
    font-size: 1.8rem;
    margin-bottom: 6px;
    color: #fff;
  }
  
  .AddAnnu-form-input {
    display: inline-block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
  }
  
  .AddAnnu-form-input::placeholder {
    color: #595959;
    font-size: 12px;
  }
  
  .AddAnnu-form-input-btn {
    width: 40%;
    height: 50px;
    margin-top: 3rem;
    margin-left: 2rem;
    border-radius: 2px;
    background: linear-gradient(
      90deg,
      rgb(39, 176, 255) 0%,
      rgb(0, 232, 236) 100%
    );
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
  }
  
  .AddAnnu-form-input-btn:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgb(39, 143, 255) 0%,
      rgb(12, 99, 250) 100%
    );
    transition: all 0.4s ease-out;
  }
  
  
  
  
  