.PlacementBody{
    background: linear-gradient(90deg, rgb(224, 153, 153), rgb(192, 142, 173) 100%);
    height: auto;
    display:block;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;

}
.PlacementText{
    color: rgb(7, 51, 38);;
    font-weight: bold;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
    margin-bottom: 30px;

    cursor: text;
}

.PlacementHeading{
    font-weight: 700;
    text-align: center;
}